@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
:root {
  --dark: #222;
  --white: #fff;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: var(--dark);
}
.navigation {
  width: 400px;
  height: 70px;
  background: var(--white);
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--dark);
}
.navigation ul li.active a .icon {
  transform: translateY(-35px);
}
.navigation ul li a .text {
  position: absolute;
  opacity: 0;
  color: var(--dark);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  transform: translateY(20px);
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background-color: rgb(67, 233, 144);
  transition: 0.5s;
  border-radius: 50%;
  border: 6px solid var(--dark);
}
.indicator::before {
  content: '';
  width: 20px;
  height: 20px;
  border-top-right-radius: 35px;
  background-color: var(--white);
  left: -22px;
  top: 50%;
  position: absolute;
  box-shadow: 0 -10px 0 var(--dark);
}
.indicator::after {
  content: '';
  width: 20px;
  height: 20px;
  border-top-left-radius: 35px;
  background-color: var(--white);
  right: -22px;
  top: 50%;
  position: absolute;
  box-shadow: 0 -10px 0 var(--dark);
}
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}